<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sparkhunter.main"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:icon="@drawable/icon_dagger"
        android:label="@string/app_name" >
        <service android:enabled = "true" android:name="com.sparkhunter.res.AdventureService"/>
        <activity android:name="com.sparkhunter.activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity><activity
            android:name="com.sparkhunter.activities.SparkHunterTitleScreen"
            android:label="@string/app_name" >
        </activity>
        <activity android:name="com.sparkhunter.activities.InventoryScreen"></activity>
        <activity android:name=".FbfriendsActivity"></activity>
        <activity android:name="com.sparkhunter.res.Map"></activity>
        <uses-library android:name="com.google.android.maps"/>
        <service android:label="BackgroundMusic" android:name="com.sparkhunter.res.BackgroundMusic"></service>
        <activity android:name="com.sparkhunter.activities.GetSpark"></activity>
        <activity android:name="com.sparkhunter.activities.BattleHistoryView"></activity>
        <activity android:name="com.sparkhunter.activities.BattleActivity"></activity>
        <activity android:name="com.sparkhunter.activities.Info"
            	  android:theme="@android:style/Theme.Dialog">                 
        </activity>
        <activity android:name=".AdventureTime"
				  android:theme="@android:style/Theme.Dialog">
                  </activity>
        <activity android:name="com.sparkhunter.activities.Catch"
            	  android:theme="@android:style/Theme.Dialog">
        </activity>
        <activity android:name="com.sparkhunter.activities.LevelUp"></activity>
        <activity android:name=".Waiting"
            	  android:theme="@android:style/Theme.Dialog"></activity>

        <activity android:name="com.sparkhunter.activities.MultiplayerListActivity"></activity>
    </application>
</manifest>
